.container {
    width: 100%;
    text-align: center;
    padding: 5%;
    font-style: normal;
    position: relative;
    overflow: hidden;
}



.container > h2 {
    font-size: 1em;
}

.avatar {
    width: 20%;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
    border-radius: 5%;
    overflow: hidden;
    border: 2px solid var(--brown);
    background-color: white;
}

.gameInProgressTitle {
    margin-bottom: 5px;
}


.link {
    text-decoration: underline;
    color: green;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    font-size: 0.5em;
}

.linkLocked {
    filter: opacity(50%);
    cursor:default
}

.accountSettings {
    font-size: 0.5em;
}

.username {
    font-family: var(--font-mono);
    font-weight: bolder;
}

.spinner {
    height: 15vh;
    aspect-ratio: 1;
    margin: auto;
}