.container {
    width: 640px;
    height: 350px;
    position: absolute;
    background-image: url("../../../../public/UI/paper-background.png");
    background-size: cover;
    border: 1px solid black;
    z-index: 999999999999;
    top: calc(50% - 148px);
    color: var(--brown);
    left: 249px;
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

.bottomBar {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;

}
