.container {
    border-radius: 100%;
    background-color: white;
    border: 1px dashed #451e14;
    position: relative;
    aspect-ratio: 1;
    background-size: contain;
}

.actionSlot {
    width: 100%;
    height: 100%;
    position: relative;
}

.canBeSettled {
    background-color: lightgreen !important;
}

.cantBeSettled {
    background-color: red !important;
}


.gather {
    width: 99%;
    background-image: url("../../../public/interface/actionSlots/gather.png");
}

.explore {
    width: 50%;
    background-image: url("../../../public/interface/actionSlots/explore.png");
}

.structure {
    width: 33%;
    height: 100%;
    background-image: url("../../../public/interface/actionSlots/build.png");
}

.threat {
    height: 33px;
    width: 33px;
    background-image: url("../../../public/interface/actionSlots/threat.png");
}

.invention {
    width: 33%;
    height: 100%;
    background-image: url("../../../public/interface/actionSlots/build.png");
}


.arrange {
    width: 25px;
    height: 25px;
    background-image: url("../../../public/interface/actionSlots/arrangeCamp.png");
}

.rest {
    width: 25px;
    height: 25px;
    background-image: url("../../../public/interface/actionSlots/rest.png");
}

.helper {
    /* if action is type of helper it overrides action's background image*/
    background-image: url("../../../public/interface/actionSlots/helper.png") !important;
}
