.container {
    top: 20px;
    aspect-ratio: 1;
    z-index: 999;
}


.pawn {
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 50;

    background-color: orange;
    background-color: lightgray;
    background-color: lightblue;
    overflow: hidden;
    border: 1px solid #451e14;
    background-color: yellow;
}

.dragged {
    max-width: 40px;
    max-height: 40px;
}

.friday {
    background-color: white;
}

.dog {
    background-color: pink !important;
}

.explore {
    background-color: #85a52a;
}

.build {
    background-color: #7f584a;
}

.hunt {
    background-color: #aa0d1c;
}

.gather {
    background-color: #797474;
}

.gatherContext {
    width: 100%;
    height: 100%;
}

.characterContext {
    height: 50%;
}

.characterContextSideCharacter {
    width: 100%;
    height: 100%;
}