.game {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: inline-grid;
    background-image: url("../../public/UI/paper-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1.5fr 3fr 0.9fr 1.1fr 2fr 3fr;
    grid-template-rows: 2fr 12fr 8fr 3fr 1fr 2fr;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

.gameMoz {
    height: inherit;
}

/* @media (max-aspect-ratio: 16 / 11) {
    .game {
        aspect-ratio: 16 / 7 !important;
    }
}

@media (min-aspect-ratio: 16 / 8.5) {
    .gameMoz {
        aspect-ratio: 16 / 8.3 !important;
    }
}


@media (min-aspect-ratio: 16 / 8) {
    .gameMoz {
    }
}


@media (min-aspect-ratio: 16 / 7.5) {
    .gameMoz {
        aspect-ratio: 16 / 7 !important;
    }
}


@media (min-aspect-ratio: 16 / 7) {
    .gameMoz {
        aspect-ratio: 16 / 7 !important;
    }
}


@media (min-aspect-ratio: 21 / 9) {
    .gameMoz {
        aspect-ratio: 21 / 8.5 !important;
    }
} */

.chatLog {
    grid-column: 6 / span 1;
    grid-row: 3 / span 2;
    height: 100%;
}


.health {
    grid-column: 3 / span 3;
    grid-row: 5 / span 1;
    border: 1px solid var(--borderColor);
    border-top: none;
    background-color: blue;
}

.morale {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.actionsOrder {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    border-bottom: 1px solid var(--borderColor);

}