.container {
    width: 8%;
    aspect-ratio: 0.3;
    position: absolute;
    right: 7%;
    bottom: 5px;
    z-index: 10;
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zIndexIncreased {
    z-index: 200;
}

.hidden {
    display: none;
}

.card {
    position: relative;
    aspect-ratio: 1082 / 1635;
    height: 65%;
}

.locked {
    filter: contrast(30%);
}

.beastCount {
    height: 10%;
    aspect-ratio: 1;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 63%;
    color: var(--beastRed);
    filter: contrast(110%);
    text-align: center;
    line-height: 12px;

}

.actionSlots {
    height: 35%;
    aspect-ratio: 2;
    margin-top: -30%;
}

.actionSlot {
    height: 100%;
    display: inline-block;
}
