.container {
    grid-column: 5 / span 1;
    grid-row: 6 / span 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.scroll {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.content {

    width: 200px; /*No idea why 100% doesn't work*/
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.scroll::-webkit-scrollbar {
    height: 10px;
}


.scroll::-webkit-scrollbar-thumb:horizontal {
    background-image: url("../../../../public/UI/misc/board.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid var(--brown);
}



