.container {
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.symbol {
    display: inline-block;
    position: relative;
    height: 50px;
    aspect-ratio: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.round {
    top: -15px;
}

.round > div {
    height: 55px;
    width: 55px;
    font-size: 32px;
}


.title {
    font-weight: bold;
    font-size: 30px;
    color: #068ad4;
    vertical-align: top;
    position: relative;
    top: 5px;
}

.nextPhaseButton {
    position: absolute;
    width: 170px;
    right: 10px;
    top: 5px;
}

.arrow {
    height: 50px;
    width: 100px;
    display: inline-block;
    position: relative;
}

.night {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
}