.container {
    height: 35px;
    width: 100%;
    font-size: 20px;
    color: var(--brown);
    outline-color: var(--brown);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

