.container {
    width: 100%;
    height: 100%;
    border: 1px solid var(--brown);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
}


.item {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.startButton {
    height: 75%;
    position: relative;
    aspect-ratio: 1;
}

.startEnabled:hover {
    scale: 1.1;
    cursor: pointer;
}

.buttonText {
    height: 20%;
    align-self: center;
    font-size: 10px;
}

.backButton {
    height: 80%;
}


.ready {
    color: var(--explore);
}

.notReady {
    color: var(--hunt);
}

.disabled {
    filter: opacity(30%);
}
