.container {
    width: 100%;
    height: 25px;
    font-weight: bold;
    border-top: 1px dashed var(--brown);
    border-left: 1px dashed var(--brown);
    color: var(--brown);
}

.labelImg {
    margin-left: 2px;
    width: 25px;
    height: 100%;
    position: relative;
    display: inline-block;
}

.labelText {
    width: 70px;
    height: 100%;
    display: inline-block;
    vertical-align: top;

}

.amount {
    width: 20px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.subtrahends {
    display: inline-flex;
    justify-content: end;
    vertical-align: top;
    margin-left: 2px;
    width: 45%;
    float: right;
}

.subtrahend {
    height: 20px;
    vertical-align: top;
    width: 40px;
    color: darkred;
}

.subtrahendImage {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.subtrahendValue {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.surplus {
    color: limegreen;
}

.deficit {
    color: red;
}

.roofAmount {
    color: cornflowerblue;
}

.parenthesis {
    color: var(--brown);
}