.container {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    height: 100%;
    width: 100%;
    font-size: 2.5em;
}

.friday {
    width: 100%;
    height: 50%;
    position: relative;
}

.fridayPic {
    aspect-ratio: 1;
    height: 60%;
    right: 0;
    top: 38%;
    position: absolute;
}


.name {
    width: 80%;
    text-align: right;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 3px;
    position: absolute;
    top: 0;
    right: 0;

    font-style: italic;
}

.dog {
    width: 100%;
    height: 50%;
    position: relative;
}

.dogPic {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    right: 11%;
    bottom: 0;
}


.dogUsage {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 40%;
    display: inline-block;
}


.pawn {
    height: 55%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-size: cover;
    position: absolute;
    background-color: white;
}

.fridayPawn {
    top: 5%;
}

.determination {
    color: var(--brown);
    position: absolute;
    left: 45%;
    top: 23%;
    font-weight: bold;
    width: 30%;
    height: 45%;
}

.determinationValue {
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size: 1.2em;
    text-align: right;

}

.determinationIcon {
    width: 50%;
    aspect-ratio: 1;
    display: inline-block;
    position: relative;
    top: 7%;
}
