.container {
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.button {
    background-size: contain;
    width: 30%;
    margin: auto;
    display: block;
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 0.3em;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.4);
    
}

.button:hover {
    cursor: pointer;
}

.button:hover {
    scale: 1.1;
}

.useMarks {
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    column-gap: 10%;
    margin-bottom: 2%;
}

.useMark {
    width: 28%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-image: url("../../../../../../../../public/UI/paper-background.webp");
    background-size: contain;
    position: relative;
    border: 1px solid var(--borderColor);
    cursor: pointer;
}

.useMark:hover {
    scale: 1.1;
}

.treasureImage {
    filter: brightness(0%)
}

.storage {
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    column-gap: 10%;
    margin-bottom: 2%;
}

.storageButton {
    background-image: url("../../../../../../../../public/UI/paper-background.webp");
    cursor: pointer;
}

.resource, .storageButton {
    width: 20%;
    aspect-ratio: 1;
    position: relative;
    background-color: white;
    border-radius: 100%;
}
