.container {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
}

.round {
    font-style: italic;
    font-size: 25px;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    position: relative;
    top: 2px;
    color: var(--brown);
    filter: opacity(40%);
}

.currentRound {
    filter: none;
}

.boat {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    filter: invert(12%) sepia(25%) saturate(2174%) hue-rotate(352deg) brightness(97%) contrast(102%);
    z-index: 1;
}

.square {
    filter: invert(12%) sepia(25%) saturate(2174%) hue-rotate(352deg) brightness(97%) contrast(102%);
}


.weather {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: 1px dotted black;
    display: inline-block;
}

.weatherTop {
    top: -25px;
    left: 13px;
}

.weatherLeft {
    top: -10px;
    left: 5px;
}

.weatherRight {
    top: -10px;
    right: 5px;
}

.rain {
    background-color: orange;
}

.snow {
    background-color: white;
}

.hungryAnimal {
    background-color: red;
}