.container {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    background-size:cover;
    height: 100%;
    width: 100%;
}

.redArrow {
    width: 25px;
    height: 10px;
    position: relative;
    display: inline-block;
}

.actionIcon {
    width: 25px;
    height: 25px;
    margin: 0;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.label {
    width: 130px;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    vertical-align: top;
    text-align: center;
    color: darkred;
}