.container {
    grid-column: 6 / span 1;
    grid-row: 5 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px 0 5px;
}


.dropDownButton {
    height: 83%;
    aspect-ratio: 1;
}

.buttonWrapperOptions {
    height: 100%;
    filter: brightness(40%);
}

.guideWrapper {
    scale: 1.4;
    transform-origin: 80%;
}

.menu {
    display: flex;
    flex-direction: column;
    background-image: url("../../../../public/UI/paper-background.webp");
    background-size: 100vh;
    border: 1px solid var(--borderColor);
    padding: 0 3% 0 5%;
    height: 30vh;
    aspect-ratio: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

