.container {
    grid-column: 6 / span 1;
    grid-row: 5 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px 0 5px;
}


.buttonWrapper {
    height: 83%;
    aspect-ratio: 1;
}

.buttonWrapperOptions {
    height: 100%;
    filter: brightness(40%);
}

.guideWrapper {
    scale: 1.4;
    transform-origin: 80%;
}