.container {
    width: 100%;
    height: 100%;
}

.weather {
    background-image: url("../../../../../public/interface/weather/weather-pic.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.night {
    background-image: url("../../../../../public/interface/weather/night-pic.png");
    background-size: cover;
    background-repeat: no-repeat;
}