.container {
    width: 100%;
    padding: 10px 20px;
    color: var(--brown);
    border-radius: 2%;
    text-align: center;
    position: relative;
    font-size: 2vh;
}


.link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}