.container {
    width: 100%;
    height: 100%;
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
    position: relative;
    overflow-y: scroll;
}

/* width */
.container::-webkit-scrollbar {
    width: 20px;

}

/* Track */
.container::-webkit-scrollbar-track {
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    background-image: url("../../../../public/UI/misc/board-vert.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid var(--brown);
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.disabledScroll {
    overflow: hidden !important;
    scroll-behavior: smooth;
}


.zIndexIncreased {
    z-index: 200;
}

.content {
    width: 91%;
    background-image: url("../../../../public/UI/paper-background.png");
    background-size: cover;
    height: 500px;
}

