.container {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 20%;
    cursor: pointer;
    z-index: 99999999999999;
    animation-name: glowing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes glowing {
    0% {
        filter: brightness(250%) contrast(150%)
    }
    50% {
        filter: none
    }

    100% {
        filter: brightness(250%) contrast(150%)
    }
}

.left {
    left: 16%;
}

.right {
    right: 23%;
}

.container:hover {
    filter: brightness(250%) contrast(150%) !important;
}
