.container {
    width: 50%;
    height: 70%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    color: var(--brown);
}

.label {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -25%;
    font-weight: 700;
    font-size: 3em;
    color: var(--brown);
}


.background {
    background-image: url("../../../../../../public/UI/weather/background.png");
    background-size: cover;
    height: 100%;
    aspect-ratio: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.cloud {
    position: relative;
    display: inline-block;
    height: 50%;
    aspect-ratio: 1;
    z-index: 1;
    filter: contrast(150%) brightness(100%) !important;
}


.cloudCount {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    z-index: 2;
    left: 0;
    height: 100%;
    line-height: 100%;
    aspect-ratio: 1;
    text-align: center;
}
