
.container {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    font-size: 1.3em;
}

.formLobby {
    padding-left: 10%;
    padding-right: 10%;
}

.form > h2 {
    margin-bottom: 5px;
}


.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
}



.sessionName {
    margin-top: 1px;
}


.imgWrapper {
    padding: 5px;
    border: 1px solid var(--brown);
    border-radius: 5px;
    cursor: pointer;
    line-height: 100%;
    margin-top: 5px;
    font-weight: 500;
}

.imgWrapper:hover {
    scale: 1.1;
}

.hr {
    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--tan);
    margin-top: 10px;
}

.textWrap {
    text-wrap: wrap;
}


.button:hover {
    scale: 1.1;
}

.scenarioInfo {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

.scenarioInfoDescription {
    margin-top: 5px;
}

.option:disabled, .select:disabled {
    background-color: lightgray;
}


