
.container {
    margin: auto;
    text-align: right;
    width: 100%;

}

.resources {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.resource {
    position: relative;
    width: 35px;
    height: 35px;
}

.icon {
    width: 70%;
    height: 70%;
    display: inline-block;
    position: relative;
    top: 5px;
}

.value {
    height: 100%;
    width: 30%;
    font-size: 20px;
    display: inline-block;
    color: var(--brown);
    letter-spacing: 0;
}

.valueChanged {
    animation-name: valueAddedAnimation;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    transform-origin: center center;
}

@keyframes valueAddedAnimation {
    0% {
        scale: 1;
        color: var(--brown);
    }
    50% {
        scale: 1.5;
        color: var(--resourceValueChangeColor);
    }
    100% {

        scale: 1;
        color: var(--brown);
    }
}


.treasure {
    filter: brightness(0%);
}
