.container {
    position: absolute;
    margin: auto;
    text-align: right;
    left: 17px;
}

.resource {
    position: relative;
    left: 15px;
}

.label {
    display: inline-block;
    height: 20px;
    margin-right: 5px;
}

.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    margin-bottom: -5px;
}

.value {
    display: inline-block;
    height: 20px;
}