.pawnTower {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.pawn {
    width: 100%;
    height: 80%;
    position: absolute;
}

.pawn0 {
    bottom: 0;
    z-index: 0;
}

.pawn1 {
    bottom: 10px;
    z-index: 1;
}

.icon {
    position: absolute;
    width: 110%;
    height: 110%;
    transform: scaleY(0.3);
}
.icon1 {
    
    bottom: 27%;
    z-index: 11;
}