.container {
    position: absolute;
    z-index: 9999999999999;
    left: -40px;
    top: -70px;
    /*top: -180px;*/
    /*top: 288px;*/
    width: 240px;
    height: 130px;
}

.bar {
    position: absolute;
}

.barTop, .barBot {
    width: 100%;
    height: 10px;
}

.barTop {
    bottom: 0;
}

.barLeft, .barRight {
    height: calc(100% - 20px);
    width: 10px;
    top: 10px;
}

.barLeft {
    left: 0;
}

.barRight {
    right: 0;
}
