.container {
	height: 50em;
	aspect-ratio: 2;
	aspect-ratio: 2;
	background-size: cover;
	z-index: 9999;
	color: var(--brown);
}

.dragging {
	cursor: grabbing;
}

.bottomBar {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	bottom: 0;
}
