.container {
    width: 150px;
    height: 150px;

    position: absolute;
    right: 20px;
    top: 160px;
    font-style: italic;
    font-family: Snell Roundhand, cursive;
    color: var(--brown);
}

.title {
    margin: auto;
    text-align: center;
}

.woodStack {
    position: relative;
    width: 100px;
    height: 100px;
    filter: brightness(30%) sepia(150%);
    margin: auto;
}


.level1 {
    top: 10px;
}

.level2 {
    transform: scale(80%);
    top: 15px;
}

.level4 {
    transform: scale(130%);
    bottom: 15px;
}

.fire {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -15px;
    top: 5px;
}

.wood {
    height: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.woodImage {
    width: 30px;
    height: 30px;
    position: relative;
    left: 5px;
}

.woodAmount {
    line-height: 30px;
    position: relative;
    right: 5px;
}

.woodButton {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px dashed var(--brown);
    background-color: white;
    font-size: 30px;
    line-height: 22px;
    padding-left: 4px;
    font-weight: bold;
    cursor: pointer;
}

.addWoodButton {
    color: green;
}

.removeWoodButton {
    color: indianred;
}

