.container {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 5px;
    display: flex;
    column-gap: 10px;
    z-index: 95235423;
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
}

.tab {
    color: var(--brown);
    width: auto;
    height: 100%;
    text-align: center;
    border: 1px solid var(--brown);
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border-radius: 5px;
    line-height: 100%;
    background-image: url("/UI/old-paper.png");
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.selected {
    font-weight: 700;
    font-size: 17px;
}

.tab:hover {
    transform: scale(110%);
}
