.container {
    height: 70%;
    aspect-ratio: 404 / 617 !important;
    position: relative;
    top: 15%;
}

.item {
    aspect-ratio: var(--cardAspectRatio);
    width: 90%;
    position: relative;
    margin: auto;
}

.tile {
    aspect-ratio: 1;
    width: 100%;
    position: relative;
}

.threat {
    width: 100%;
    height: 100%;
    position: relative;
    top: -7%;
}

.construction {
    width: 100%;
    position: relative;
}


.structureLvl {
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 5%;

}

.lvl {
    color: var(--build);
    width: 100%;
    font-size: 3em;
}

.lvlSpan {
    font-weight: 500;
    color: black;
}

.arrow {
    width: 40px;
    transform: rotate(90deg);
    height: 40px;
    position: relative;
    margin: auto;

}

.shelter {
    aspect-ratio: var(--shelterAspectRatio);
    position: relative;
}

.roof {
    aspect-ratio: var(--roofAspectRatio)

}

.palisade {
    aspect-ratio: var(--palisadeAspectRatio)
}

.invention, .hunt {
    width: 90%;
    aspect-ratio: var(--cardAspectRatio);
}

.weapon {
    aspect-ratio: var(--weaponAspectRatio);
    width: 37%;
    margin: auto;
}

.restArrange {
    position: relative;
    width: 100%;
    aspect-ratio: 447 / 559;
}


.gather {
    width: 100%;
}

.gatherAmount {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    position: relative;
    top: 15px;
    font-size: 20px;
}


.resourceIcon {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.status {
    position: absolute;
    height: 25%;
    top: 30%;
    left: -10%;
    z-index: 999999999;
    font-weight: bold;
    font-size: 4em;
    transform: rotate(45deg);
    font-family: KazPro;
    text-transform: uppercase

}

.success {
    -webkit-text-stroke: 2px darkgreen;
    color: limegreen;
}

.failure {
    -webkit-text-stroke: 2px darkred;
    color: orangered;
}


.constructionStatus {
    top: 20px;
}

.tileStatus {
    top: 31px;
    font-size: 5em;
}


.tileStatusFailure {
    font-size: 4em;
    left: -23%;
    top: 20%;
}


.resolveButton {
    width: 80%;
    font-size: 1.5em;
    margin: auto;
}


.reRollToken {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: -5px;
    left: 5px;
}

.itemUseCheckBox {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 10%;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.checkbox {
    position: relative;
    top: 20%;
    cursor: pointer;
    aspect-ratio: 1;
    height: 100%;
}

.clickableButton:hover {
    cursor: pointer;
    scale: 1.2;
}

.locked {
    opacity: 0.4;
}


.character {
    aspect-ratio: 1;
    height: 15%;
    position: relative;
    margin: 5px auto auto;
}

