.container {
    width: 40%;
    aspect-ratio: 2.5;
    position: absolute;
    top: 25%;
    left: 30%;
    background-image: url("../../../../../public/UI/paper-background.png");
    border: 1px solid var(--borderColor);
    z-index: 9999;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

.nightPicture {
    width: 70%;
    aspect-ratio: 1182 / 213;
    position: relative;
    margin: auto;
}

.tip {
    font-weight: 500;
    padding: 10px;
    position: relative;
    font-size: 2em;
    margin: auto;
    text-align: center;
}

.closeButton {
    text-align: center;
    color: var(--brown);
    cursor: pointer;
    height: 15%;
    aspect-ratio: 2.5;
    font-size: 3em;
    font-weight: bold;
    border: 1px solid var(--brown);
    padding: 10px;
    border-radius: 5%;
    line-height: 30%;
    margin: auto auto 1%;
}

.closeButton:hover {
    scale: 1.1;
}
