.container {
    position: relative;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}


.container:hover {
    background-color: var(--explore);
}

.containerSelected {
    background-color: var(--explore);
}

.tileType, .token {
    aspect-ratio: 1;
}

.invention {
    aspect-ratio: var(--cardAspectRatio);
}

.invention > div {
    width: 95%;
    height: 95%;
    top: 2.5%;
    margin: auto;
    aspect-ratio: var(--cardAspectRatio);
}
