.container {
    height: 100% !important;
    width: 100% !important;
    z-index: 9999999999999;
    position: relative;
}

.divider {
    display: inline-block;
    height: 100%;
}

.divideBy3 {
    width: 33%;
}

.divideBy2 {
    width: 50%;
}

.divideBy1 {
    width: 100%;
}
