.container {
    width: 100%;
    height: 100%;
    z-index: 9999999999999;
    position: relative;
}

.divider {
    display: inline-block;
    height: 100%;
    background-color: blue;
}

.divideBy3 {
    width: 33%;
}

.divideBy2 {
    width: 50%;
}

.divideBy1 {
    width: 100%;
}