.container {
    border: 1px solid var(--brown);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    height: 100%;
}

.leftBar {
    width: 50%;
    height: 45%;
    border-bottom: 1px solid var(--brown);
    border-right: 1px solid var(--brown);
    vertical-align: top;
    display: inline-block;
}

.rightBar {
    width: 50%;
    height: 45%;
    display: inline-block;
    border-bottom: 1px solid var(--brown);
    vertical-align: top;
}


.arrow {
    width: var(--arrowWidth);
    height: var(--arrowHeight);
    margin: auto;
    position: relative;
}

.botBar {
    height: 55%;
    width: 100%;
    vertical-align: top;
}

