.container {
    position: absolute;
    width: 19%;
    height: 19%;
}

.zIndexIncreased {
    z-index: 10;
}

.tile {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 3px;
    left: 1px;
    filter: contrast(100%);
}

.resourceModifier {
    aspect-ratio: 1;
    height: 17%;
    position: absolute;
    bottom: 25%;
}

.resourceModifierLeft {
    left: 15%;
}

.resourceModifierRight {
    right: 20%;
}


.markedForAction {
    position: absolute;
    border-radius: 100%;
    border: 2px solid red;
    animation-name: markedForActionAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 9999;
    cursor: pointer;
}

@keyframes markedForActionAnimation {
    0% {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
    50% {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
    }
    100% {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
}

.flipped {
    filter: brightness(70%) !important;
}

.depletedMark {
    width: 22%;
    height: 22%;
    position: absolute;
    bottom: 22%;
    opacity: 0.7;
}

.depletedMarkLeft {
    left: 18%;
}

.depletedMarkRight {
    right: 23%;
}

.terrainDepleted {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 24%;
    left: 38%;
    opacity: 0.6;
}


.tileConstantHighlight {
    filter: contrast(150%) !important;
}

.tileHighlightAnimation {
    animation-name: highlightAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer !important;
}

@keyframes highlightAnimation {
    0% {
        filter: sepia(0%)
    }
    50% {
        filter: sepia(50%)
    }
    100% {
        filter: sepia(0)
    }
}

.explorePlayerSlots {
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    right: 2%;
    z-index: 1;
}


.gatherActionSlots {
    width: 100%;
    z-index: 10;
    position: relative;
    margin-top: -5%;
    cursor: default;
}

.gatherActionSlotsLeft {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    position: relative;
    right: -5%;
    top: 5%;
}

.gatherActionSlotsFew {
    top: 10% !important;
}

.gatherActionSlotsRight {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    float: right;
    top: 5%;
}


.campIcon {
    width: 20%;
    height: 20%;
    position: relative;
    margin: auto;
    top: 25%;
}

.modifiers {
    width: 50%;
    height: 15%;
    position: absolute;
    top: 10%;
    left: 23%;
    display: flex;
    justify-content: center;
}

.modifier {
    aspect-ratio: 1;
    height: 100%;
    position: relative;

}

.scroll {
    width: 60% !important;
    height: 35% !important;
    z-index: 1;
    margin: auto;
    position: relative;
    top: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* width */
.scroll::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background-image: url("../../../../../public/UI/misc/board-vert.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid var(--brown);
}

