
.container {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 2lh;
}

.redArrow {
    width: 5%;
    height: 35%;
    position: relative;
    display: inline-block;
}

.actionIcon {
    width: 5%;
    aspect-ratio: 1;
    margin: 0;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.label {
    width: 30%;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    vertical-align: top;
    text-align: center;
    color: darkred;
}

.tokens {
    display: flex;
    position: absolute;
    width: 130%;
    height: 60%;
    top: -10%;
    left: 70%;
}

.token {
    height: 100%;
    margin-left: -20%;
    aspect-ratio: 1;
    filter: contrast(110%);
}
