.structure {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid black;
    position: relative;
}

.shelter {
    width: calc(579px * 0.15);
    height: calc(402px * 0.15);
    position: absolute;
    right: 0;
    bottom: 0;
}

.roof {
    position: absolute;
    width: calc(361px * 0.22);
    height: calc(199px * 0.22);
    right: 0;
    bottom: 5px;
}

.palisade {
    position: absolute;
    width: calc(640px * 0.13);
    height: calc(481px * 0.13);
    right: 0;
    bottom: -6px;

}

.level0 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.weapon {
    position: absolute;
    width: calc(366px * 0.09);
    height: calc(681px * 0.09);
    right: 0;
    bottom: 0;
}


.lvlLabel {
    font-size: 15px;
}

.cost {
    display: inline-block;
    vertical-align: top;
}

.costWoodValue {
    left: 0;
    position: absolute;
    font-size: 18px;
}

.costLeatherValue {
    right: 25px;
    positioN: absolute;
    font-size: 18px;
    bottom: 0;
}

.costIcon {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.woodImage {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 10px;
}

.leatherImage {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 0;
    bottom: 0;

}

.crossLine {
    height: 50px;
    width: 50px;
    border-right: 1px solid black;
    transform: rotate(50deg);
    margin: auto;
    position: absolute;
    top: -18px;
    left: -18px;
}

.build {
    display: inline-block;
    width: 30%;
    height: 70%;
}

.actionSlots {
    width: 75px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 5px;
    height: 25px;
}


.comitedResources {
    display: flex;
    height: 20px;
    width: 100%;
    vertical-align: top;
    margin-left: 10px;
}

.committedResource {
    width: 20px;
    height: 20px;
    position: relative;
}


.structureIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

