.container {
    width: 100%;
    height: 100%;
    font-size: 2em;
    padding: 2%;
}


.gameSettings {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    justify-content: space-evenly;
}
.button {
    height: 1.5em;
    width: auto;
    line-height: 1.4em;
    text-align: center;
}

