.container {
    grid-column: 6 / span 1;
    grid-row: 5 / span 2;
    width: 50%;
    height: 100%;
    left: 20%;
    position: relative;
    display: inline-block;
}

.alertMessage {
    color: var(--hunt);
    font-weight: bold;
    font-size: 2.5em;
}
