
.container {
	background-image: url("../../../../../../public/UI/characters/background.webp");
	background-size: contain;
	border: 1px solid var(--borderColor);
	border-right: none;
	width: 100%;
	font-size: 2em;
	z-index: 11;
}

.topBar {
	position: relative;
	top: 5px;
	font-style: italic;
}

.abilityName {
	text-align: center;
	font-size: 1.3em;
	font-family: KazPro;
	color: var(--hunt);
	text-transform: uppercase;
	
}

.chooseCloud {
	aspect-ratio: 2;
	width: 20%;
	display: flex;
	column-gap: 7%;
	position: relative;
	justify-content: center;
	margin: auto auto 5%;
}

.cloud {
	height: 100%;
	aspect-ratio: 1;
	position: relative;
	cursor: pointer;
}

.cloudSelected {
	filter: invert(24%) sepia(83%) saturate(4030%) hue-rotate(106deg)
		brightness(91%) contrast(111%);
	scale: 1.2;
}

.useButton {
	height: 1.5em;
	aspect-ratio: 3;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	margin: 5px auto auto;
	top: -5px;
	transition: all 0.1s;
	font-family: KazPro;
	text-transform: uppercase;
	border: 1px solid rgba(188, 130, 122, 0.6);
	color: var(--hunt);
	font-weight: bold;
}

.useButton:hover {
	scale: 1.2;
	filter: brightness(120%);
}

.useButtonUsed {
	border: none;
	width: 100%;
}

.useButtonUsed:hover {
	background: none;
	color: var(--brown);
	scale: 1;
}

.text {
	position: relative;
	padding: 2%;
	margin-top: 1em;
	text-align: center;
}

.quote {
	font-size: 0.8em;
	font-weight: 500;
    font-family: KazPro;
    font-style: italic;
	margin-top: -10px;
}

.description {
	font-size: 1em;
	margin-top: -8px;
	font-weight: bold;

}

.icon {
	height: 1.2em;
	aspect-ratio: 1;
	position: relative;
	top: 0.2em;
	display: inline-block;
}

.hr {
	color: var(--brown);
	opacity: 0.7;
}
