.container {
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../../../public/interface/oldPaper.png");
  border: 1px solid black;
}


.map {
    position: relative;
    aspect-ratio: 425 / 416;
    display: inline-block;
    height: 100%;
  }

  .hex {
    position: absolute;
    width: 19%;
    height: 19%;
  }