.container {
    height: 35%;
    aspect-ratio: 2;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    background-image: url("../../../../public/UI/paper-background.png");
    border: 1px solid var(--borderColor);
    z-index: 9999;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

.nightPicture {
    width: 70%;
    aspect-ratio: 1182 / 213;
    position: relative;
    margin: auto;
}

.tip {
    font-weight: 500;
    padding: 10px;
    position: relative;
    font-size: 2em;
}

.closeButton {
    text-align: center;
    color: var(--brown);
    cursor: pointer;
    height: 15%;
    aspect-ratio: 2.5;
    background-color: blue;
    margin: auto;
    font-size: 3em;
    font-weight: bold;
}
