.container {
	width: 100%;
	height: 100%;
	grid-column: 5 / span 1;
	grid-row: 3 / span 2;
	background-image: url("../../../../public/UI/characters/background.webp");
	background-size: 50vh;
	border: 1px solid var(--borderColor);
	border-top: none;
	border-bottom: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr 4fr;
	z-index: 100;
	position: relative;
}

.characterImg {
	width: 100%;
	height: 100%;
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
	position: relative;
	display: flex;
	justify-content: center;
}

.explorerFemaleImg,
.soldierMaleImg {
	top: 8%;
}

.characterPicture {
	height: 120%;
	top: -20%;
	aspect-ratio: 1;
	position: absolute;
}

.rightTop {
	width: 100%;
	height: 100%;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}

.characterName {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	text-align: center;
	font-weight: bold;
	font-size: 2.4em;
	font-style: italic;
	color: var(--brown);
	line-height: 100%;
	width: 100%;
	border-radius: 5px;
	z-index: 2;
}

.skills {
	height: 100%;
	width: 100%;
	position: relative;
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
}

.pawns {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

.primePlayerIcon {
	height: 1em;
	aspect-ratio: 1;
	position: relative;
	display: inline-block;
	top: 2px;
	border-radius: 100%;
	padding: 2px;
	scale: 1.2;
}
