.container {
	width: 100%;
	font-size: 30px;
	color: var(--brown);
	border-radius: 2%;
	text-align: center;
	border: 1px solid var(--brown);
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container > h3 {
	position: relative;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    margin: auto;
    width: 85%;
}

.connectionError {
    text-align: center;
}


.rowWrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}