.container {
    width: 100px;
    height: 130px;
    border: 1px dashed black;
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 10;
    background-image: url("../../../../public/interface/oldPaper.png");
    background-size: cover;
    background-position-x: center;
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
}

.zIndexIncreased {
    z-index: 200;
}

.card {
    position: relative;
    aspect-ratio: 1082 / 1635;
    height: 80px;
    margin: auto;
}

.locked {
    filter: contrast(30%);
}

.beastCount {
    width: 10px;
    height: 10px;
    font-weight: bold;
    margin: -7px auto auto;
    color: black;
}

.actionSlots {
    height: 40px;
    width: 80px;
    margin: 3px auto auto;
}