.moraleBar {
    width: 15.5%;
    border-right: 1px solid var(--borderColor);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.current {
    -webkit-box-shadow: inset 0 0 40px -16px rgba(96, 201, 75, 1);
    -moz-box-shadow: inset 0 0 40px -16px rgba(96, 201, 75, 1);
    box-shadow: inset 0 0 40px -16px rgba(96, 201, 75, 1);
}

.moraleBar0 {
    width: 7%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.morale0Value {
    margin: auto !important;
}

.lastMoraleBar {
    border: none;
}

.moraleLabel {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.moraleIcon {
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.moraleImg {
    top: 0.6lh;
    height: 2lh;
    aspect-ratio: 1;
    position: relative;
    display: inline-block;
}

.moraleValue {
    position: relative;
    font-weight: bold;
    width: 40%;
    height: 100%;
    top: 0.25lh;
    margin-left: 20%;
    line-height: 100%;
    text-align: right;
    font-size: 2lh;
}

.crossLine {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: var(--blackToBorderColor);
}

.lastMoraleBarValue {
    position: absolute;
    font-weight: bold;
    font-size: 2em;
    left: 0;
    top: -12%;
}

.lastMoraleIcon {
    position: absolute;
    height: 60%;
    aspect-ratio: 1;
    left: 16%;
}

.heart {
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 1;
    height: 80%;
}
