.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    border-bottom: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
    position: relative;
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}


.cardEnlarged {
    transform: scale(5);
}

.zIndexIncreased {
    z-index: 200;
}

.zIndexTransition {
    animation-name: zIndex;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes zIndex {

    from {
        z-index: 500
    }
    to {
        z-index: 1
    }
}

.cardSlot {
    height: 70%;
    aspect-ratio: 0.666;
    position: relative;
    display: inline-block;
    margin-top: 2px;
    border-radius: 5px;
    background-image: url("../../../../public/UI/misc/event-background.png"),
    url("../../../../public/UI/cards/event/event-slot-background.png");
    background-size: cover;
    transition: all 0.5s;
    cursor: pointer;
}


.actionSlots {
    width: 30%;
    height: 28%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.arrow {
    position: absolute;
    width: 35px;
    height: 20px;
    top: 35%;
    transform: rotate(180deg);
}

.curvedArrow {
    position: absolute;
    width: 35px;
    height: 20px;
    left: -2px;
    bottom: 50px;
}
