.container {
    grid-column: 3 / span 3;
    grid-row: 5 / span 1;
    background-image: url("../../../../public/UI/characters/background.png");
    background-size: cover;
    border: 1px solid var(--brown);
    border-top: none;
}

.health {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
}

.arrow {
    position: relative;
    display: inline-block;
    height: 50%;
    aspect-ratio: 2.2;
    top: 20%;
}

.skull {
    position: relative;
    display: inline-block;
    aspect-ratio: 1;
    height: 88%;
}

.heart {
    position: relative;
    display: inline-block;
    height: 88%;
    aspect-ratio: 1;
}

.thresholdMarkedForRemoval {
    animation-name: blinkGreen;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.thresholdMarkedForRemoval:hover {
    /* filter: invert(30%) sepia(85%) saturate(1180%) hue-rotate(89deg) brightness(92%) contrast(106%); */
    cursor: pointer;
    scale: 1.2;
}

@keyframes blinkGreen {
    0% {
        filter: none;
    }
    50% {
        filter: invert(57%) sepia(88%) saturate(333%) hue-rotate(50deg) brightness(89%) contrast(86%);
    }

    100% {
        filter: none;
    }
}

.xMark {
    height: 100%;
    width: 60%;
    display: block;
    margin: auto;
    scale: 1.3;
}
