.container {
    aspect-ratio: 1;
    height: 100%;
    position: relative;

}


.terrainDepleted {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 24%;
    left: 38%;
    opacity: 0.6;
}
