.container {
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid var(--brown);
}

.token {
    height: 100%;
    aspect-ratio: 1;
}

.container:hover {
    filter: brightness(130%) contrast(130%);
}

.locked {
    opacity: 0.5;
}
