.container {
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.token {
    height: 100%;
    aspect-ratio: 1;
}

.container:hover {
    filter: brightness(130%) contrast(130%);
}

.locked {
    opacity: 0.5;
}
