.container {
    position: absolute;
    aspect-ratio: 1;
    width: 17px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.cookMaleHead {
    right: 23px;
    top: 5px;
}

.cookMaleStomach {
    top: 27px;
    left: 6px;
}

.cookMaleArm {
    bottom: 14px;
    right: 5px;
}

.cookMaleLeg {
    bottom: 2px;
    left: 8px;
}