.container {
    background-image: url("../../../../public/UI/paper-background.png");
    z-index: 999;
    position: absolute;
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px -5px var(--brown);
    cursor: grab;
    overflow: hidden;
}

.topLayer {
    z-index: 9999999999999999;
}

.showOverflow {
    overflow: visible;
}

.close {
    height: 5vh;
    aspect-ratio: 1;
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0.2vw;
    cursor: pointer;
}

.close:hover {
    scale: 1.1;
}
