.container {
    height: 23%;
    aspect-ratio: 2;
    position: absolute;
    left: 0;
    top: 15%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    z-index: 9999999999999;
}

.button {
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    line-height: 200%;
    margin: 5px auto auto;
    opacity: 0.5;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 1em;
    aspect-ratio: 1;
    position: relative;
    display: inline-block;

}

.buttonClickable {
    opacity: 1;
    cursor: pointer;
}

.buttonClickable:hover {
    scale: 1.1;
}

.buttonCost {
    display: inline-block;
    position: relative;
    top: 4px;
}

.buttonCost > span {
    position: relative;
    top: -4px;
}
