.container {
    grid-column: 3 / span 3;
    grid-row: 5 / span 1;
    background-image: url("../../../../public/interface/characters/background.png");
    background-size: cover;
    border: 1px dashed #451e14;
}

.health {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.arrow {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 15px;
    top: 2px;
}

.skull {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.heart {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}