.container {
    aspect-ratio: 1;
    height: 40px;
    position: relative;
    z-index: 1;
    font-size: 4em;
    line-height: 120%;
}


.round {
    font-style: italic;
    font-size: inherit;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    position: relative;
    top: 2px;
    color: #d2b48c;
}

.currentRound {
    filter: brightness(130%);
}

.ship {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    top: 100%;
    left: 10%;
    filter: brightness(0) saturate(100%) invert(78%) sepia(12%) saturate(895%) hue-rotate(355deg) brightness(140%) contrast(100%);
    z-index: 1;
}

.dark {
    filter: invert(12%) sepia(25%) saturate(2174%) hue-rotate(352deg) brightness(97%) contrast(102%) !important;
    
}

.darkRound {
    color: var(--brown);
}

.square {
    filter: brightness(0) saturate(100%) invert(70%) sepia(27%) saturate(358%) hue-rotate(354deg) brightness(110%) contrast(85%);
}

.squareImg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.squareImgCurrent {
    filter: brightness(130%);
}

.weather {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: -100%;
    align-items: flex-end;
}

.weather:nth-child(1n) {
    flex-basis: 100%;
}

.weatherDice {
    height: 15px;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1px solid var(--brown);
    padding: 1px;
    position: relative;
}


.firstOfFree {
    margin-bottom: -14px;
}

.rain {
    background-color: orange;
    margin-left: 20%;
    margin-right: 20%;
}

.snow {
    background-color: white;
}

.hungryAnimal {
    background-color: red;
}
