.container {
    aspect-ratio: 1;
    height: 100%;
    font-size: 2em;
    line-height: 2em;
    position: relative;
    z-index: 1;
}


.round {
    font-style: italic;
    font-size: inherit;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    position: absolute;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #d2b48c;
    padding-top: 20%;
    padding-bottom: 27%;
}

.currentRound {
    filter: brightness(130%);
}

.ship {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    top: 100%;
    left: 10%;
    filter: brightness(0) saturate(100%) invert(78%) sepia(12%) saturate(895%) hue-rotate(355deg) brightness(140%) contrast(100%);
    z-index: 1;
}

.dark {
    filter: invert(12%) sepia(25%) saturate(2174%) hue-rotate(352deg) brightness(97%) contrast(102%) !important;
    
}

.darkRound {
    color: var(--brown);
}

.square {
    filter: brightness(0) saturate(100%) invert(70%) sepia(27%) saturate(358%) hue-rotate(354deg) brightness(110%) contrast(85%);
}

.squareImg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.squareImgCurrent {
    filter: brightness(130%);
}

.weather {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: -55%;
    align-items: flex-end;
}



.weatherDice {
    height: 50%;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1px solid var(--brown);
    padding: 1px;
    position: relative;
}




.rain {
    background-color: orange;
    margin-left: 25%;
    margin-right: 25%;
}

.snow {
    background-color: white;
}

.hungryAnimal {
    background-color: red;
}
