.container {
    border: 1px solid var(--brown);
    font-weight: bold;
    font-size: 23px;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
}

.zIndexIncreased {
    z-index: 999;
}
