.container {
    height: 100%;
    position: relative;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px solid var(--brown);
    cursor: pointer;
}

.scaleOnHover:hover {
    scale: 1.1;
}

.containerBorderless {
    border: none;
}


.imgWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    aspect-ratio: 1;
}

.blackToBrown {
    filter: var(--blackToBrown) ;
}

