.content {
    font-size: 3em;
    text-align: center;
}


.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--hunt);
    width: 80%;
    margin: auto;
    font-size: 1em;
}

.button {
    font-family: KazPro;
	font-weight: normal;
	text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    scale: 1.2;
}

.dontAskAgain {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 0.6em;
    display: flex;
}

.checkBox {
    height: 1.4em;
    vertical-align: bottom;
    aspect-ratio: 1;
    margin-left: 5px;
}