.health {
    position: relative;
    width: 75%;
    height: 40%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .heart {
    width: 20%;
    height: 80%;
    position: relative;
    display: inline-block;
  }
  
  .skull {
    width: 20%;
    height: 80%;
    position: relative;
    display: inline-block;
  }