.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.block {
    display: inline-flex;
    width: 50%;
    flex-direction: column;
}

.prefference {
    display: flex;
    justify-content: left;
    column-gap: 1%;
}

.skipUITour {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.other {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.checkBox {
}