.container {
    width: 200px;
    height: 300px;
    background-image: url("../../../../public/interface/oldPaper.png");
    border: 1px solid black;
    font-weight: bold;
    font-size: 23px;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
}

.structure {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
    position: relative;
}

.shelter {
    width: calc(579px * 0.15);
    height: calc(402px * 0.15);
    position: absolute;
    right: 0;
    bottom: 0;
}
.roof {
    position: absolute;
    width: calc(361px * 0.22);
    height: calc(199px * 0.22);
    right: 0;
    bottom: 5px;
}
.palisade {
    position: absolute;
    width: calc(640px * 0.13);
    height: calc(481px * 0.13);
    right: 0;
    bottom: -6px;
    
}

.level0 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.weapon {
    position: absolute;
    width: calc(366px * 0.09);
    height: calc(681px * 0.09);
    right: 0;
    bottom: 0;
}


.label {
    font-size: 15px;
}

.cost {
    display: inline-block;
    vertical-align: top;
}

.costTimber {
    left: 0;
    position: absolute;
    font-size: 18px;
}

.costLeather {
    right: 25px;
    positioN: absolute;
    font-size: 18px;
    bottom: 0;
}

.costIcon {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.timber {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 10px;
}
.leather {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 0;
    bottom: 0;
    
}

.crossLine {
    height: 50px;
    width: 50px;
    border-right: 1px solid black;
    transform: rotate(50deg);
    margin: auto;
    position: absolute;
    top: -18px;
    left: -18px;
}

.build {
    display: inline-block;
    width: 30%;
    height: 70%;
}

.builderSlots {
    width: 100%;
    display: inline-block;
    margin-left: 5px;
}

.slot {
    width: 29px;
    height: 29px;
    border: 1px dashed black;
    border-radius: 100%;
    display: inline-block;
}

.slotHelper {
    width: 20px;
    height: 20px;
    background-image: url("../../../../public/interface/structures/hand.jpg");
    background-size:contain;
}

.slotBuilder {
    background-image: url("../../../../public/interface/structures/hammer.jpeg");
    background-size:cover;
}


.comitedResources {
    display: flex;
    height: 20px;
    width: 100%;
    vertical-align: top;
}

.resource {
    width: 20px;
    height: 20px;
    position: relative;
}


.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.cookIcon {
    background-image: url("../../../../public/interface/players/cookMaleIcon.png") !important;
    background-size: cover;
    background-color: orange;
}