.container {
    grid-row: 6 / span 1;
    grid-column: 3 / span 2;
    height: 100%;
    width: 100%;
    background-image: url("../../../../public/UI/weather/weather-pic.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: center;
    column-gap: 6%;
    align-items: center;
    border-left: 1px solid var(--borderColor);
}



