.container {
    position: relative;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.containerSelectable:hover {
    background-color: var(--explore);

}

.containerSelected {
    background-color: var(--explore);
}

.tileType, .token {
    aspect-ratio: 1;
}

.card {
    aspect-ratio: var(--cardAspectRatio);
}

.card > div {
    width: 95%;
    height: 95%;
    top: 2.5%;
    margin: auto;
    aspect-ratio: var(--cardAspectRatio);
}

.square {
    aspect-ratio: 1;
    height: 100%;
}
