.container {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.containerSelectable:hover {
    background-color: var(--explore);

}

.containerSelected {
    background-color: var(--explore);
}

.tileType, .token {
    aspect-ratio: 1;
}

/* .card {
    aspect-ratio: var(--cardAspectRatio);
}

.card > div {
    width: 95%;
    height: 95%;
    top: 2.5%;
    margin: auto;
    aspect-ratio: var(--cardAspectRatio);
} */

.square {
    aspect-ratio: 1;
    height: 100%;
}

.resource {
    display: flex;
    width: 100%;
    height: 10%;
    position: relative;
    font-size: 2em;
    justify-content: center;
}

.resourceIcon {
    height: 100%;
    position: relative;
}


.imgWrapper {
    width: 80%;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
}

.name {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}