.container {
    height: 80%;
    min-width: 40%;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    z-index: 9999999;
    background-image: url("../../../../../../public/UI/scenarios/background.png");
    background-position-x: -40px;
    background-position-y: -40px;
    cursor: pointer;
}

.container:hover {
    transform: scale(110%);
    filter: contrast(120%)
}

.locked {
    cursor: default !important;
    filter: opacity(70%) !important;
    transform: none !important;;
}
