.body {
    background-image: url("../../../../public/UI/paper-background.png");
    border: 1px solid var(--brown);
    border-radius: 5px;
    padding: 10px;
    color: bar(--brown);
    z-index: 10000;
    font-size: 0.8em;
    max-width: 80vw;
    background-color: blue;
}

.title {
    font-family: "Kaz", serif;
    color: var(--hunt);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2%;
}

.title > h4 {
    margin: 0;
}

.content {
    color: var(--brown);
    font-weight: 500;
}



.topBar {
    display: flex;
    justify-content: center;
    position: relative;
}

.close {
    aspect-ratio: 1;
    position: relative;
    vertical-align: top;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.close:hover {
    scale: 1.1;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 1.3em;

}

.toolTipButton {
    font-family: "Kaz", serif;
    background-color: transparent;
    color: var(--hunt);
    font-weight: 600;
    cursor: pointer;
}

.toolTipButton:hover {
    scale: 1.1;
}