.container {
	cursor: pointer;
	width: 100%;
}


.content:hover {
	background-color: rgba(69, 30, 20, 0.8);
	color: white;
}


.selected {
	background-color: var(--brown);
	color: white;
}

.content {
	width: 100%;
	display: block;
	padding-left: 2px;
}

