.container {
    width: 180px;
    height: 300px;
    color: var(--brown);
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    border: 1px solid var(--borderColor);
    box-sizing: content-box;
    padding: 5px;
    position: relative;
    padding-right: 5;
    padding-left: 5;
}

.topBar {
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-grow: none;
    padding-bottom: 5px;
}

.character {
    height: 270px;
}

.userNameWrapper {
}

.latency {
    width: 20px;
    aspect-ratio: 1;
    float: left;
}

.health {
    width: 20px;
    height: 100%;
    display: inline-block;
    margin-left: -5px;
}

.mainWrapper {
    width: 160px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}



.charName, .userNameWrapper {
    text-align: center;
}

.username {
    padding: 0 5px 0 5px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
}


.imgWrapper {
    width: 130px;
    position: relative;
    margin: auto;
    float: left;
}

.expendables {
    width: 130px;
    height: 20px;
}

.hr {
    width: 100%;
    border-top: 1px solid var(--hunt);
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 5px;
}

.pawns {
    width: 130px;
    height: 75px;
    border: 1px solid var(--borderColor);
    padding: 5px;
    border-radius: 5px;
}

.primePlayerIcon {
    height: 15px;
    aspect-ratio: 1;
    display: inline-block;
    position: relative;
    scale: 1.2;
    top: 1px;
    margin-left: 3px;
}
