.scrollbar {
    width: 65% !important;
    height: 75% !important;
    display: inline-block !important;
}

.trackHorizontal {
    display: none;
}

.thumbHorizontal {
    display: none;
}

.trackVertical {
    width: 8px !important;
    height: 100%;
    right: 0;
    background: transparent;
}

.thumbVertical {
    width: 8px !important;
    background-image: url("../../../../../public/UI/misc/board-vert.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 100 !important;
}
