.container {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: relative;
    z-index: 100;
}

.zIndexIncreased {
    z-index: 10000;
}

.button {
    width: 300px;
    margin: 20px auto auto;
    display: flex;
    cursor: pointer;
}

.label {
    margin: auto;
    text-align: center;
    font-weight: bold;
    height: 30px;
    display: inline-block;
    color: var(--brown)
}

.arrowWrapper {
}

.arrow {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    filter: brightness(0) saturate(100%) invert(13%) sepia(10%) saturate(5194%) hue-rotate(333deg) brightness(150%) contrast(94%);
}

.arrowRotated {
    transform: rotate(270deg);
}