.container {
    width: 100%;
    height: 80%;
    text-align: center;
    
}

.title {
    height: 20px;
    font-weight: bold;
}

.threat {
    color: var(--threat);
}

.hunt {
    color: var(--hunt);
}

.build {
    color: var(--build);
}

.gather {
    color: var(--gather);
}

.explore {
    color: var(--explore);
}

.arrangeCamp {
    color: var(--arrangeCamp)
}

.rest {
    color: var(--rest);
}


.items {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    vertical-align: top;
}

