.container {
    width: calc(100%);
    height: 80%;
    border: 1px solid red;
    text-align: center;
}

.title {
    height: 20px;
}

.items {
    background-color: blue;
    width: 100%;
    height: 200px;
}