.container {
    position: absolute;
    width: 19%;
    height: 19%;
}

.zIndexIncreased {
    z-index: 10;
}

.tile {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 3px;
    left: 1px;
    filter: contrast(100%);
}


.markedForAction {
    position: absolute;
    border-radius: 100%;
    border: 2px solid red;
    animation-name: markedForActionAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 9999;
    cursor: pointer;
}

@keyframes markedForActionAnimation {
    0% {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
    50% {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
    }
    100% {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
}

.flipped {
    filter: brightness(70%) !important;
}


.tileConstantHighlight {
    filter: contrast(150%) !important;
}

.tileHighlightAnimation {
    animation-name: highlightAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer !important;
}

@keyframes highlightAnimation {
    0% {
        filter: sepia(0%)
    }
    50% {
        filter: sepia(50%)
    }
    100% {
        filter: sepia(0)
    }
}


.campIcon {
    height: 25%;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
    top: 20%;
}

.modifiers {
    width: 50%;
    height: 15%;
    position: absolute;
    top: 10%;
    left: 23%;
    display: flex;
    justify-content: center;
}



