.container {
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 0.5em;
}

.link {
    text-decoration: underline;
    color: green;
}


.label {
    margin: 0;
}
