.container {
    width: 100%;
    font-size: 30px;
    color: var(--brown);
    border-radius: 2%;
    text-align: center;
    border: 1px solid var(--brown);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container > h3 {
    position: relative;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    margin: auto;
    width: 85%;
}

.input {
    height: 35px;
    width: 100%;
    font-size: 20px;
    color: var(--brown);
    outline-color: var(--brown);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}


.row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 100%;
}

.button {
    width: 100%;
    cursor: pointer;
    background-color: limegreen;
    color: white;
    border-color: green;
}

.button:hover {
    filter: brightness(90%);
}


.buttonLoading {
    filter: brightness(90%);
}

.buttonActive {
    filter: brightness(90%);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
}

.loaderSpinnerWrapper {
    margin-top: 10px;
    height: 50px;
    aspect-ratio: 1;
}


.redirectText {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.link {
    text-decoration: underline;
    color: green;
}

.error {
    margin: 0;
    color: var(--hunt);
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.question {
    margin: 0;
}
