.container {
    width: 900px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid var(--brown);
    background-image: url("../../../public/UI/paper-background.png");
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 250px;
    color: var(--brown);
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.chat {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border: 1px solid var(--brown);
}

.players {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.settings {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}


.char {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
