.container {
    height: 90vh;
    aspect-ratio: 900 / 550;
    border-radius: 5px;
    border: 1px solid var(--brown);
    background-image: url("../../../public/UI/paper-background.png");
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 13% 47%;
    color: var(--brown);
    padding: 0.5% 1.5% 0.5% 0.5%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    box-sizing: content-box;
}

.chat {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    border: 1px solid var(--brown);
    font-size: 0.8em;
}

.startPanel {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.players {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.settings {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    font-size: 0.8em;
}


.char {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
