.container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--brown);
    border-radius: 5px;
    position: relative;
    column-gap: 1%;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}


.containerPlaceholder {
    opacity: 0.5;
    color: gray;
    filter: grayscale(0.5);
}

.avatar {
    aspect-ratio: 1 !important;
    height: 80% !important;
}

.name {
    width: 160px;
    position: relative;
    justify-content: start !important
}



.host {
    width: 20px;
    position: relative;
    filter: brightness(0) saturate(100%) invert(84%) sepia(19%) saturate(6919%) hue-rotate(344deg) brightness(105%) contrast(94%);
}

.latency {
    aspect-ratio: 1;
    scale: 0.7;
}

.kickButton {
    position: relative;
    aspect-ratio: 1;
    filter: var(--blackToBrown);
    scale: 1;
    cursor: pointer;
}

.kickButton:hover {
    scale: 1.2;
}


.localPlayer {
    color: var(--explore);
    font-weight: 500;
}

.disabled {
    filter: opacity(20%);
}

.readiness {
    aspect-ratio: 1;
}

.readinessReady {
    filter: brightness(0) saturate(100%) invert(52%) sepia(93%) saturate(316%) hue-rotate(50deg) brightness(96%) contrast(87%);
}

.readinessNotReady {

}

.duplicatedCharacter {
    border: 1px solid var(--hunt);
}


.colorSelect {
}

.character > select {
    font-size: 0.8em;
    font-weight: 600;
}