.container {
    width: 40%;
    aspect-ratio: 1.35;
    background: url("../../public/UI/paper-background.webp");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--borderColor);
    text-align: center;
    
}

.title {
    font-size: 1.3em;
    line-height: 1em;
    margin-top: 10px;
    color: var(--hunt);
    font-family: KazPro;
	font-weight: normal;
	text-transform: uppercase;
}

.backLink {
    aspect-ratio: 1;
    margin: auto;
    margin-top: 5px;
    width: 100%;
    font-size: 1.1em;
}

.shipImg {
    width: 100%;
    aspect-ratio: 661 / 377;
    bottom: 0;
    left: 0;
    z-index: -1;
}