.container {
    width: 200px;
    aspect-ratio: var(--eventCardAspectRatio);
    background-size: contain;
    position: absolute;
    z-index: 99999999;
    left: calc(50% - 100px);
}

.card {
    width: 200px;
    aspect-ratio: var(--eventCardAspectRatio);
    position: relative;
    margin: auto;
    cursor: grab;
    transition: all;
    transition-duration: 0.3s
}

.enlarged {
    transform: scale(160%);
}


.zoomButton {
    z-index: 99999999;
    width: 50%;
    aspect-ratio: 1;
    position: absolute;
    top: -1%;
    right: -15%;
    opacity: 0.8;
    cursor: pointer;
}

.zoomButton:hover {
    opacity: 1;
}





