.container {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    position: relative;
}

.sessionList {
    width: 100%;
    max-height: calc(100% - 30px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}

.sessionList::-webkit-scrollbar {
    width: 20px;

}

/* Track */
.sessionList::-webkit-scrollbar-track {
    width: 20px;
}

/* Handle */
.sessionList::-webkit-scrollbar-thumb {
    background-image: url("../../public/UI/misc/board-vert.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid var(--brown);
}

.refreshIconWrapper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    margin: auto;
    animation-name: spin;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    color: var(--brown);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}



@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}