.container {
    height: 25vh;
    aspect-ratio: 2;
    background-image: url("../../public/UI/paper-background.png");
    border: 1px solid var(--brown);
    border-radius: 1vh;
    position: relative;
    top: 35vh;
    left: calc(50% - 25vh);
    text-align: center;
    font-size: 1.3em;
    font-family: Kaz;
}


.loadingSpinner {
    height: 50%;
    aspect-ratio: 1;
    margin: auto;
}