.container {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.open {
    border-width: 175px 20px 175px 0;
    border-color: transparent var(--brown) transparent transparent;
}

.closed {
    border-color: transparent transparent transparent var(--brown);
    border-width: 175px 0 175px 20px;
}