.container {
    width: 100%;
    height: 100%;
}

.containerBackground {
    background-image: url("../../../../public/UI/characters/background.png");
    background-size: cover;
}

.health {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.healthVertical {
    flex-direction: column;
}

.arrowWrapper {
    height: 88%;
    aspect-ratio: 1.4;
}

.wrapperVertical {
    width: 100%;
}

.arrow {
    position: relative;
    display: inline-block;
    height: 60%;
    aspect-ratio: 2.2;
    top: 20%;
}

.arrowVertical {
    transform: rotate(90deg);
    top: 0;
    height: 50%;
}


.skull {
    position: relative;
    display: inline-block;
    aspect-ratio: 1;
    height: 88%;
}

.heart {
    position: relative;
    display: inline-block;
    height: 88%;
    aspect-ratio: 1;
}

.thresholdMarkedForRemoval {
    animation-name: blinkGreen;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.thresholdMarkedForRemoval:hover {
    /* filter: invert(30%) sepia(85%) saturate(1180%) hue-rotate(89deg) brightness(92%) contrast(106%); */
    cursor: pointer;
    scale: 1.2;
}

@keyframes blinkGreen {
    0% {
        filter: none;
    }
    50% {
        filter: invert(57%) sepia(88%) saturate(333%) hue-rotate(50deg) brightness(89%) contrast(86%);
    }

    100% {
        filter: none;
    }
}

.xMark {
    height: 100%;
    aspect-ratio: 1;
    scale: 2;
    margin: auto;
    position: relative;
    top: -100%;
}
