.construction {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid var(--brown);
    position: relative;
}

.shelter {
    aspect-ratio: 1.44;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.roof {
    aspect-ratio: 1.81;
    position: absolute;
    height: 90%;
    right: 0;
    bottom: 2px;
}

.palisade {
    aspect-ratio: 1.33;
    position: absolute;
    height: 115%;
    right: 1%;
    bottom: -15%;
}

.level0 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.weapon {
    position: absolute;
    aspect-ratio: 0.537;
    transform: rotate(90deg);
    height: 150%;
    right: 10%;
    bottom: -35%;
}

.lvlLabel {
    font-size: 15px;
    height: 25%;
    margin-left: 1%;
}

.cost {
    display: inline-block;
    height: 80%;
    width: 25%;
    margin-left: 1%;
}


.selected {
    border-radius: 100%;
    border: 2px solid limegreen;
}

.nonSelectable {
    filter: opacity(40%);
}

.build {
    display: inline-block;
    width: 40%;
    height: 80%;
    vertical-align: top;
    position: relative;

}

.actionSlots {
    height: 50%;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.committedResources {
    display: flex;
    height: 20px;
    width: 100%;
    vertical-align: top;
    margin-left: 10px;
}

.committedResource {
    width: 20px;
    height: 20px;
    position: relative;
}

.structureIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.lvlBoosted {
    color: green;
}

.noBottomBorder {
    border-bottom: none;
}
