.container {
    height: 100%;
    position: relative;
    z-index: 999;
    display: flex;
    cursor: grab;
    background-image: url("../../../../public/UI/characters/background.webp");
    background-size: 50vh;
    -webkit-box-shadow: inset 0px 0px 63px -14px rgba(180, 156, 125, 1);
    -moz-box-shadow: inset 0px 0px 63px -14px rgba(180, 156, 125, 1);
    box-shadow: inset 0px 0px 63px -14px rgba(180, 156, 125, 1);
}

.playerWrapper {
    height: 100%;
    overflow: visible;
    position: relative;
}