.button {
    user-select: none;
    cursor: pointer;
    background-color: var(--brown);
    color: white;
    border-radius: 5px;
    width: 90%;
    font-size: 1.2rem;
    margin: auto;
}

.formContainer {
    border: none !important;
}