html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("../public/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --arrowHeight: 19px;
    --arrowAspectRatio: calc(346 / 122);
    --arrowWidth: calc(var(--arrowHeight) * var(--arrowAspectRatio));
    --brown: #451e14;
    --beastRed: rgb(186, 51, 28);
    --threat: #241f21;
    --hunt: #a90c1c;
    --build: #7f584a;
    --gather: #767472;
    --explore: #6cac3a;
    --arrangeCamp: #2e3563;
    --rest: #f8b121;
    --weather: #068ad4;
    --eventCardAspectRatio: 409 / 610;
    --beastCardAspectRatio: 409 / 610;
    --shelterAspectRatio: 579 / 402;
    --roofAspectRatio: 361 / 199;
    --palisadeAspectRatio: 640 / 481;
    --weaponAspectRatio: 366 / 681;
    --goldenRatio: 1.618;

    --resourceValueChangeColor: black;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

.grabbing {
    cursor: grabbing;
}
